<section class="section">
  <div class="container">
    <div class="row">
      <% if user_signed_in? %>
        <div class="col-4">
          <%= render 'profile' %>
        </div>
      <% end %>
      <div class="col-8 mx-auto">
        <%= render 'feed' %>
      </div>
    </div>
  </div>  
</section>

<div class="container text-right">
  <button class="btn btn-info"><%= link_to_next_page @tweets, 'More Tweets', class: "text-decoration-none text-reset" %></button>
</div>

